{% extends "base.html" %}
{% block title %}Index page{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-0 col-sm-1"></div>
        <div class="col-12 col-sm-11 text-left mt-2"><p class="font-weight-bold text-monospace">Games available:</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-1</div>
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-2</div>
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-3</div>
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-4</div>
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-5</div>
        <div class="col-md-4 col-sm-6 col-xs-12 border rounded m-3 p-3" style="background-color: antiquewhite;">Game-6</div>
    </div>
{% endblock %}