{% extends "base.html" %}
{% block title %}Login page{% endblock %}
{% block content %}
    <div class="row">
        <div class="card col-lg-3 col-md-5 col-xss-12 mx-auto py-2 my-2 shadow">
            <h2 class="card-title">{% block l_r %}{% endblock %}</h2>
            
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form method="post" class="align-items-start px-2">
                {% block form_fields %}{% endblock %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% block xtralnk %}{% endblock %}
        </div>
    </div>
{% endblock %}